{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %}
{% endblock content %}

{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth account %}
{% block extra_title %}Accounts | Change Password{% endblock extra_title %}

{% block inner_content %}
    <!--No need to reset the password if the user is already logged in, as password must be known-->
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <hr>
        <h2 >{% trans "Change Password" %}</h2>
    <hr>

    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="not-submit no-decoration" href="{% url "menu" %}">Return To Menu</a> <!-- PROFILE -->
        <button type="submit" class="white-text">{% trans "Change Password" %}</button>
    </form>
    <p>If you have forgotten your password: <a href="{% url 'account_reset_password' %}">{% trans "Click Here" %}</a></p>

{% endblock inner_content %}