{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link href="{% static "css/renterprise-switches.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}View An Item{% endblocktrans %}{% endblock extra_title %}

<!-- Creating the form for an Item allowing a user to update the details if they have the authorisation -->
<!-- div app container holds this -->
{% block content %}
    <hr>
        <h1>Type : {{ item_type_name }}</h1>
    <hr>
    
    <div class="row">
        <div class="d-flex flex-column d-lg-block col-12 col-lg-3 col-xxl-4 pb-3">
            <img class="item-image img-fluid border-success" id="item-image-id"
                src="{% if not item_type_image %}{% static 'images/default.webp' %}{% else %}{{ item_type_image.url }}{% endif %}"
                alt="{% if not item_type_image %}default no image{% else %}{{ item_type_name }}{% endif %}">
            {% comment %} {% if account_type == 'Customer' %}
            {% else %}
                <button class="default-button item-image-sku mt-1 px-1 py-0" type="button"
                        data-bs-target="#item-status-change-modal" data-bs-toggle="modal"
                        onclick='statusSwitchChanger("{{ item_status.0 }}")'>
                    <span class="d-flex flex-row align-items-center justify-content-center mx-0 gap-2">
                        <p class="d-block white-text my-1">Edit Status</p>
                        <i class="bi bi-toggles"></i>
                    </span>
                </button>
            {% endif %} {% endcomment %}
        </div>
        <div class="col-12 col-lg-9 col-xxl-8">
            <form id="item_type_form" action="" 
                    class="row floating-labels-form m-0" method="post">
                {% crispy item_type_form item_type_form.helper %}
            </form>
            <div class="row flex-column-reverse flex-md-row justify-content-center m-0">
                <a class="col-12 col-md-5 not-submit no-decoration mb-3 me-1"
                    href="{% url 'item_type_list' %}">
                    {% trans "Return To Item Type List" %}
                </a>
                <button type="submit"
                    class="{% if account_type == 'Administrator' %}white-text{% else %}{% endif %}
                    col-12 col-md-5 mb-3"
                    {% if account_type == 'Administrator' %}{% else %}disabled{% endif %}
                    form="item_type_view_form">{% trans "Update Item" %}
                </button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block postloadjs %}
{% endblock postloadjs %}