{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Create An Item{% endblocktrans %}{% endblock extra_title %}

<!-- Creating the form for creating an item -->
<!-- div app container holds this -->
{% block content %}
    <hr>
        <h1>{% trans "Create An Item" %}</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9 col-xxl-8">
            <form action="{% url 'item_create' %}" 
                    class="floating-labels-form" method="post" id="item-create">
                {% crispy item_create_form item_create_form.helper %}
                <a class="not-submit no-decoration" 
                    href="{% url 'item_list' %}">{% trans "Return To Item Listing" %}
                </a>
                <button type="submit" class="white-text">{% trans "Create Item" %}</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'items/js/createInlineType.js' %}"></script>
{% endblock postloadjs %}