asgiref==3.8.1
boto3==1.35.48
botocore==1.35.48
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==5.1.2
django-allauth==65.1.0
django-countries==7.6.1
django-crispy-forms==2.3
django-localflavor==4.0
django-storages==1.14.4
gunicorn==23.0.0
jmespath==1.0.1
pillow==11.0.0
psycopg2==2.9.10
python-stdnum==1.20
s3transfer==0.10.3
sqlparse==0.5.1
stripe==11.1.1