{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock extra_css %}

<!-- Creating the form for Profiles allowing a user to update their details -->
{% block content %}
    <div class="app-container">
        <hr>
            <h2 class="mb-2">My Profile</h2>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-9 col-xxl-8">
                <form action="{% if self_or_manage == "self" %}{% url 'profile_view' %}{% else %}{% url 'profile_manage' user_id %}{% endif %}" method="post" id="profile-update">
                    {% crispy user_form user_form.helper %}
                    {% crispy profile_form profile_form.helper %}
                    <a class="not-submit no-decoration" href="{% url 'menu' %}">{% trans "Return To Menu" %}</a>
		            <button type="submit" class="white-text">{% trans "Update Profile" %}</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}