{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"> {% endcomment %}
{% endblock extra_css %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="app-container">
        <hr>
            <h2 class="mb-2">My Profile</h2>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-6">
                <form action="{% url 'profile' %}" method="post" id="profile-update">
                    {% crispy user_form user_form.helper %}
                    {% crispy profile_form profile_form.helper %}
                    <a class="not-submit no-decoration" href="{% url 'menu' %}">{% trans "Return To Menu" %}</a>
		            <button type="submit" class="white-text">{% trans "Update Profile" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}