{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block extra_css %}
    <link href="{% static "css/renterprise-tables.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Profile Listing{% endblocktrans %}{% endblock extra_title %}
{% block content %}
    <div class="app-container">
        <hr>
            <h2 class="mb-2">Profile Listing</h2>
        <hr>
        <div class="row">
            <div class="col-12 col-xxl-10">
                <!-- If user is logged in -->
                {% if user.is_authenticated %}
                    <!-- Create "account_type" variable -->
                    {% with account_type=user.profile.account_type %}
                        <!-- 2 & 3 = HR & Administrator privileges -->
                        {% if account_type == 2 or account_type == 3 %}
                            <!-- Create Table Div-->
                            <div class="renterprise-table">
                                <!-- Create Table Header -->
                                <div class="renterprise-table-row table-head">
                                    <div class="col-4">
                                        <strong>First Name</strong>
                                    </div>
                                    <div class="col-4">
                                        <strong>Surname</strong>
                                    </div>
                                    <div class="col-4">
                                        <strong>Username</strong>
                                    </div>
                                </div>
                                <!-- For each profile/user object -->
                                {% for profile in profile_list %}
                                    <!-- Create a row for first name, surname and username -->
                                    <div class="renterprise-table-row">
                                        <div class="col-4">
                                            {{ profile.user.first_name }}
                                        </div>
                                        <div class="col-4">
                                            {{ profile.user.last_name }}
                                        </div>
                                        <div class="col-4">
                                            {{ profile }}
                                        </div>
                                    </div>
                                    <!-- Create a row for email and button to navigate to profile  -->
                                    <div class="renterprise-table-row bottom-row">
                                        <div class="col-4"></div>
                                        <div class="col-8 multi-element-column">
                                            <span><strong>Email : </strong>{{ profile.user.email }}</span>
                                            <a href="{% url 'profile_manage' profile.user.id %}">
                                                <i class="bi bi-arrow-right-circle-fill icon-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% include "includes/paginate.html" %}
                            </div>                        
                            
                        {% else %}
                            {% blocktrans %}<h3 class="text-danger">Not Authorised</h3>{% endblocktrans %}
                                {% if account_type == 0 %}
                                    {% blocktrans %}<p>Customers do not have access to this area.</p>{% endblocktrans %}
                                {% else %}
                                    {% blocktrans %}<p>Your account does not have a sufficient level of access</p>{% endblocktrans %}
                                {% endif %}
                            <a class="url-nav-button" href="{% url 'menu' %}">{% trans "Return To Menu" %}</a>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {% blocktrans %}<h3 class="text-danger">Not Authorised</h3>{% endblocktrans %}
                    {% blocktrans %}
                        <p>You need to be logged in to access the program.</p>
                        <p>Log in to continue using this application.</p>
                    {% endblocktrans %}
                    <a class="button white-text" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}