{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block extra_css %}
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Profile Listing{% endblocktrans %}{% endblock extra_title %}
{% block content %}
    
    <div class="app-container">
        <hr>
            <h2 class="mb-2">Profile Listing</h2>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-9 col-xxl-8">
                {% if user.is_authenticated %}
                    {% with account_type=user.profile.account_type %}
                        {% if account_type == 2 or account_type == 3 %}
                            <table class="table-light">
                                <thead>
                                    <!-- scope is used for screen reader accessibility. 
                                        To determine if the th affects a row, column or group -->
                                    <th scope="col">Username</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Email Address</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for profile in profile_list %}
                                        <tr>
                                            <td>{{ profile }}</td>
                                            <td>{{ profile.user.first_name }}</td>
                                            <td>{{ profile.user.last_name }}</td>
                                            <td>{{ profile.user.email }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include "includes/paginate.html" %}
                        {% else %}
                            {% blocktrans %}<h3 class="text-danger">Not Authorised</h3>{% endblocktrans %}
                                {% if account_type == 0 %}
                                    {% blocktrans %}<p>Customers do not have access to this area.</p>{% endblocktrans %}
                                {% else %}
                                    {% blocktrans %}<p>Your account does not have a sufficient level of access</p>{% endblocktrans %}
                                {% endif %}
                            <a class="url-nav-button" href="{% url 'menu' %}">{% trans "Return To Menu" %}</a>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {% blocktrans %}<h3 class="text-danger">Not Authorised</h3>{% endblocktrans %}
                    {% blocktrans %}
                        <p>You need to be logged in to access the program.</p>
                        <p>Log in to continue using this application.</p>
                    {% endblocktrans %}
                    <a class="button white-text" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}