{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="renterprise-table">
    <!-- Create Table Header -->
     <!-- No header in this list display-->
    <!-- For each profile/user object -->
    {% for invoice in page_obj %}
        <div class="renterprise-table-row bottom-row py-0 px-2">
            <!-- Create a row for first name, surname and username -->
            <div class="renterprise-table-row flex-column flex-sm-row pt-2 px-2">
                <strong>ID: </strong><p class="my-1 ps-0 ps-sm-1">{{ invoice.id }}</p>
            </div>
            <div class="renterprise-table-row flex-column flex-sm-row py-0 px-2">
                <strong>Due: </strong><p class="my-1 ps-0 ps-sm-1">{{ invoice.due_on }}</p>
            </div>
            <div class="renterprise-table-row flex-column flex-sm-row py-0 px-2">
                <strong>Amount : </strong><p class="my-1 ps-0 ps-sm-1">£{{ invoice.amount_paid }}</p>
            </div>
            <!-- Create a row for email and button to navigate to profile  -->
            <div class="col d-flex flex-column align-items-end">
                {% if stripe_pid is None %}
                <a href="{% url 'customer_view' profile_id=customer.id %}">
                    <i class="bi bi-stripe"></i>
                </a>
            </div>
        </div>
    {% endfor %}
    {% include "includes/paginate.html" %}
</div>          