{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link href="{% static "orders/css/order_forms.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Create An Order{% endblocktrans %}{% endblock extra_title %}

<!-- Creating the form for creating an item -->
{% block content %}
    <div class="app-container">
        <hr>
            <h1>{% trans "Create An Order" %}</h1>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-9 col-xxl-8">
                <form id="order_create_form" action="{% url 'item_create' %}">
                    {% crispy order_form %}
                </form>
            </div>
        </div>
    </div>
    {% comment %} https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#json-script {% endcomment %}
    {{ json_item_list|json_script:"json-item-list" }}
    {{ json_order_list|json_script:"json_order_list" }}

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'orders/js/order_create.js' %}"></script>
{% endblock postloadjs %}