{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link href="{% static "orders/css/order-forms.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'orders/css/stripe.css' %}">
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Create An Order{% endblocktrans %}{% endblock extra_title %}

<!-- Creating the form for creating an item -->
<!-- div app container holds this -->
{% block content %}
    <hr>
        <h1>{% trans "Create An Order" %}</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-9 col-xxl-8">
            <form id="order_create_form" action="{% url 'order_create_checkout' %}" method="POST">
                {% crispy order_form %}
            </form>
        </div>
    </div>
    {% comment %} https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#json-script {% endcomment %}
    {{ json_item_list|json_script:"json-item-list" }}
    {{ json_order_list|json_script:"json-order-list" }}
    {{ json_item_type_list|json_script:"json-item-type-list" }}

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    {% comment %} {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }} {% endcomment %}
    <script src="{% static 'orders/js/orderCreate.js' %}"></script>
{% endblock postloadjs %}