{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Order Success{% endblocktrans %}{% endblock extra_title %}

<!-- Creating the form for creating an item -->
<!-- div app container holds this -->
{% block content %}
    <hr>
        <h1>{% trans "Order Success" %}</h1>
    <hr>
    <div class="row">
        <div class="d-flex flex-column mx-auto pb-3">
            <img class="item-image img-fluid border-success border-bottom-0" id="item-image-id"
                    src="{% if not item_ordered.item_type.image %}{% static 'images/default.webp' %}{% else %}{{ item_ordered.item_type.image.url }}{% endif %}"
                    alt="{% if not item_ordered.item_type.image %}default no image{% else %}{{ item_ordered.item_type.name }}{% endif %}">
                <input type="text" id="id_item_type_sku" 
                    class="item-image-sku border-success border-top-0 bg-success bg-opacity-75 white-text" 
                    value="{{ item_ordered.item_type.sku }}" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <span><strong>Customer : </strong>{{ order_create_form_data.full_name }}</span><br>
            <hr>
            <strong>Address :</strong><br>
            <span>
                {{ order_create_form_data.address_line_1 }}<br>
                {% if order_create_form_data.address_line_2 == "" %}{% else %}{{ order_create_form_data.address_line_2 }}<br>{% endif %}
                {% if order_create_form_data.address_line_3 == "" %}{% else %}{{ order_create_form_data.address_line_3 }}<br>{% endif %}
                {{ order_create_form_data.town }}<br>
                {{ order_create_form_data.county }}<br>
                {{ order_create_form_data.postcode }}<br>
                {{ order_create_form_data.country_name }}<br>
            </span>
            <span><strong>Phone : </strong>{{ order_create_form_data.phone_number }}</span><br>
            <span><strong>Email : </strong>{{ order_create_form_data.email }}</span>
        </div>
        <div class="col-12 d-block d-lg-none"><hr></div>
        <div class="col-12 col-lg-6">
            <span><strong>Item : </strong>{{ item_ordered.item_type.name }}</span><br>
            <hr>
            <span><strong>Category : </strong>{{ item_ordered.item_type.category }}</span><br>
            <span><strong>Serial No. : </strong>{{ item_ordered.item_serial }}</span><br>
            <br>
            <span><strong>Start Date : </strong>{{ new_start_date | date:'jS F Y' }}</span><br>
            <span><strong>End Date : </strong>{{ new_end_date | date:'jS F Y' }}</span><br>
            <br>
            <span><strong>Initial Payment : </strong>£{{ order_create_form_data.cost_initial }}</span><br>
            <span><strong>Next Payment : </strong>
                {% if next_payment is None %}
                    None Scheduled
                {% else %}
                    £{{ order_create_form_data.cost_week }}<br>
                    <span><strong>Due On : </strong>{{ next_payment| date:'jS F Y' }}</span>
                {% endif %}
            </span><br>
        </div>
        <a class="default-button"
                    href="{% url 'order_view' {{ order_profile_id }} {{ order_order_id }} %}">{% trans "View Order" %}
        </a>
    </div>

{% endblock content %}

{% block postloadjs %}
{% endblock postloadjs %}