* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

.main-header {
    width: 100%;
    height: 100px;
    background-color: #2D8B60;
}

.app-container {
    width:100%;
}



/* Media Queries */

/* For High Resolution Desktop Screens */
@media (min-width: 1200px) {

    /* Margins created at edges */
    .main-header, .app-container {
        width: 80%;
    }
}
  
/* For Desktop Screens */
@media (min-width: 992px) {
    .main-header {
        /* Prevent going to back */
        z-index: 1000;
    }
}
  
/* For Mobile Devices */
@media (max-width: 991px) {

}