/* Container for the toasts */

.toast-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 110px;
    width: 100%;
    z-index: 9999999999999999;
}

#renterprise-toast {
    position: relative;
    width: 30%;
    height: auto;
    margin: 0 2rem;
    background-color: #FFFFFF;
}

@media (min-width: 1200px) {
    
    /* Margins created at edges */
    .toast-container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    #renterprise-toast {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .toast-container {
        top: 145px;
    }
}

@media (max-width: 500px) {
    #renterprise-toast {
        width: 90%;
        margin: 0 auto;
    }
}

