/* Container for the toasts */
.toast-container {
    top: 0;
    width: 100%;
    padding: 0.25 0.5rem;
    z-index: 9999999999;
}

/* .renterprise-toast-header {

}

.renterprise-toast-body {

}

.renterprise-toast-success {

}

.renterprise-toast-info {

}

.renterprise-toast-warning {

}

.renterprise-toast-error {

} */




