#side-navigation-bar {  
    /* Styling for Side Nav bar. Height, width, padding, 
       margin, z-index and background colour */
    display: flex;
    flex-direction: column;
    background: #DDDDDD;
    border: 1px solid #D3D3D3;
    padding: 1rem 0;
    margin: 1rem 1rem 0 0;
    width: 250px;
    height: auto;
    min-height: 60vh;
    z-index: 0;
}

/* Setting these values. Removes the bullet points from the list.
   removes any edges on the left. But most importantly, sets a sticky
   value, so that when a user scrolls the page. It appears that only
   the app-container is scrolled as the header and navigation stay in place. */
#side-navigation-bar>ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width:100%;
    position: sticky;
    top: 150px;
}

.nav.nav-list {
    display:flex;
    flex-direction:column;
}

#collapse-sidebar {
    display:none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    cursor:pointer;
    width:100%;
    padding-right:0;
}

span#menu-text-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
}
#side-menu-text {
    width:100%;
    color:#000000;
    text-shadow:none;
    text-decoration:none;
    padding: 0.5rem 1rem;
    font-size: medium;
}

a.nav-link {
    color:#000000;
    text-shadow:none;
    font-size: large;
    text-decoration:none;
}

.nav-link.white-text {
    color:#FFFFFF !important;
    text-shadow: 0px 1px 5px #000000;
}

i.nav-icon {
    padding: 0.5rem;
    font-size: x-large;
    width:45px;
    height:45px;
}

hr.nav-hr {
    color:black;
}

li.nav-item>a.nav-link.active {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    background-color: #1b9964;
}
/* 
#rest-of-sidebar>li.nav-item>a.nav-link:not(.display-only) {
    color:#000000;
    text-shadow: none;
    text-decoration: none;
}

#rest-of-sidebar>li.nav-item>a.nav-link:hover:not(.display-only),
#rest-of-sidebar>li.nav-item>a.nav-link.active:not(.display-only),
#rest-of-sidebar>li.nav-item>a.nav-link.display-only.active {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    background-color: #1b9964;
}

#collapse-sidebar:hover {
    background-color: #1b9964;
}

#collapse-sidebar:hover a, #collapse-sidebar:hover i {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

#rest-of-sidebar>li.nav-item>a.nav-link.display-only {
    color:#000000;
    text-shadow: none;
    text-decoration: underline;
    font-weight:bold;
}
#rest-of-sidebar>li.nav-item>a.nav-link.display-only.status {
    color:#0000FF;
    text-shadow: none;
    text-decoration: none;
    font-weight:bolder;
    text-transform: uppercase;
} */

@media (max-width: 575px) {
    #side-navigation-bar {
        width: 210px;
    }
}