{% extends "admin/base.html" %}
{% load static %}

{% comment %} https://books.agiliq.com/projects/django-admin-cookbook/en/latest/logo.html {% endcomment %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock title %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static '/images/renterprise-wire-logo.webp' %}" 
            height="110px" alt="Renterprise logo for the administration site"/>
        </a>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock branding %}

{% block nav-global %}{% endblock nav-global %}