{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_title %}{% blocktrans %}Payment Success{% endblocktrans %}{% endblock extra_title %}

<!-- Creating the form for creating an item -->
<!-- div app container holds this -->
{% block content %}
    <hr>
        <h1>{% trans "Payment Success" %}</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-lg-6">
            <span>Payment Successful</span>
            <hr>
            <a class="default-button"
                    href="{% url 'order_view' order.profile.id order.id %}?tab=payments">{% trans "Return To Order" %}
            </a>
        </div>

{% endblock content %}

{% block postloadjs %}
{% endblock postloadjs %}