{% load static %}
{% load i18n %}

<footer>
    <ul class="social-networks">
        <li class="white-text">
            <a id="facebook-link" href="#" title="'Visit' my dummy Facebook page (modal of images)" data-bs-target="#facebook-image-carousel-modal" data-bs-toggle="modal"
            aria-label="'Visit' my dummy Facebook page (modal of images)"><i class="bi bi-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="white-text">
            <a id="twitter-link" href="https://www.x.com" target="_blank" rel="noopener" title="Visit my Twitter page (opens in a new tab)" aria-label="Visit my Twitter page (opens in a new tab)"><i class="bi bi-twitter-x" aria-hidden="true"></i></a>
        </li>
        <li class="white-text">
            <a id="youtube-link" href="https://www.youtube.com" target="_blank" rel="noopener" title="Visit my YouTube page (opens in a new tab)" aria-label="Visit my YouTube page (opens in a new tab)"><i class="bi bi-youtube" aria-hidden="true"></i></a>
        </li>
        <li class="white-text">
            <a id="instagram-link" href="https://www.instagram.com" target="_blank" rel="noopener" title="Visit my Instagram page (opens in a new tab)" aria-label="Visit my Instagram page (opens in a new tab)"><i class="bi bi-instagram" aria-hidden="true"></i></a>
        </li>
    </ul>
    <p class="white-text">Academic Purposes Only - Twitter/X, YouTube and Instagram go to their home pages. Facebook has dummy data.</p>
</footer>


<button class="btn inline-form-button col-1 mb-3" data-bs-target="#item-type-edit-modal" data-bs-toggle="modal" type="button">
    <span class="d-flex flex-row align-items-center gap-3"><p class="d-block d-sm-none my-0 white-text">Edit Item Type</p><i class="bi bi-pen white-text"></i></span></button>