{% load static %}
<div id="main-header" class="container-fluid main-header d-none d-sm-block">
    <div class="row">
        <div class="col-xs-0 col-md">
        </div>
        <div class="col-6">
            <!-- Logo to be a return link to home page (index)-->
            <a href="{% url 'menu' %}" target="_self">
                <img class="rounded mx-auto d-block"
                    src="{% static 'images/renterprise-banner-logo.webp' %}"
                    height="100px" width="auto"
                    alt="Renterprise"
                    aria-label="Renterprise CRM software home page">
            </a>
        </div>
        <div class="col">
            <!-- Navigation bar within the header (to be used on all pages)-->
            <nav class="header-menu pt-1.75">
                <!-- Unordered list for the menu options, each list item is a link to its respective page -->
                {% if user.is_authenticated %}
                <div class="dropdown renterprise-dropdown">
                    <button class="btn login-dropdown dropdown-toggle white-text pb-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome, {% if user.first_name in settings.NULL_VALUES %}{{ user.last_name }}{% else %}{{ user.first_name }}{% endif %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end renterprise-dropdown-menu pt-0" aria-labelledby="dropdownMenuButton" style>
                        <li class="nav-item text-end white-text pe-2">
                            <a class="nav-link"
                            aria-current="page"
                            href="{% url "profile_view" %}"> Profile <i class="bi bi-person-fill"></i></a>
                        </li>
                        <li class="nav-item text-end white-text pe-2">
                            <a class="nav-link"
                            aria-current="page"
                            href="{% url 'account_logout' %}"> Log Out <i class="bi bi-person-fill-down"></i></a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <ul class="renterprise-non-user pt-3 pe-2">
                    <li class="nav-item text-end white-text">
                        <a class="nav-link"
                        aria-current="page"
                        href="{% url 'account_login' %}"> Log In <i class="bi bi-person-fill-up"></i></a>
                    </li>
                    <li class="nav-item text-end white-text pt-2">
                        <a class="nav-link "
                        aria-current="page"
                        href="{% url 'account_signup' %}"> Sign Up <i class="bi bi-person-plus-fill"></i></a>
                    </li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>