{% load static %}
{% load i18n %}

{% block extra_css %}
    <link href="{% static "css/side-nav.css" %}" rel="stylesheet">
{% endblock extra_css %}

<!-- Uses the url to determine location and what to display 
     the resolver gets everything after the domain/host. eg. /admin, /profiles/user/ -->
{% with url_name=request.resolver_match.url_name account_level=request.user.profile.account_type %}

    <!-- *** Mobile first *** -->
    <!-- The nav bar is designed for desktop computers. It will display on
        the left hand side of the screen.
        If the screen is significantly smaller, the mobile first design is 
        where the side bar, becomes a collapsable top bar
        As the majority of the sidebar is inside a div called "rest-of-sidebar"

        Initial creation of this in Portfolio 4 by myself :
        https://github.com/jbillcliffe/django-renterprise/blob/main/templates/side-nav.html
    -->
    <nav id="side-navigation-bar" class="nav flex-column">
        <a id="collapse-sidebar" class="side-bar nav-link" data-bs-toggle="collapse" data-bs-target="#rest-of-sidebar"
            role="button" aria-expanded="false" aria-controls="rest-of-sidebar">
                <i class="nav-icon bi bi-list"></i><strong>{% trans "Menu" %}</strong>
        </a>
        <div id="rest-of-sidebar" class="nav nav-list collapse">
            <ul>
                <!-- Always have home button at top of menu, unless on the menu screen -->
                {% if url_name != "menu" %}
                    <li class="nav-item">
                        <a href="{% url 'menu' %}" target="_self" class="side-bar nav-link">
                            <i class="nav-icon bi-house-up-fill"></i><strong>{% trans "Home" %}</strong>
                        </a>
                    </li>
                {% endif %}

                <!-- CURRENT PAGE DISPLAY -->
                <!-- For displaying current page area and that page does not have a direct link.
                     This would be used where the url requires an argument (such as ../items/id/) -->
                {% if url_name == "profile_view" or url_name == "profile_manage" or url_name == "item_view" %}
                    <li class="nav-item">
                        <a class="side-bar nav-link active">
                            {% if url_name == "profile_view" %}
                                <i class="nav-icon bi bi-person-fill"></i><strong>{% trans "My Profile" %}</strong>
                            {% elif url_name == "profile_manage" %}
                                <i class="nav-icon bi bi-building-fill-gear"></i><strong>{% trans "Manage Profile" %}</strong>
                            {% else %}
                                <i class="nav-icon bi bi-box"></i><strong>{% trans "Item View" %}</strong>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                

                <!-- Show Customer List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or "/customers" in request.path %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item">
                            <a {% if url_name == "customer_list" %}{% else %}href="{% url 'customer_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'customer_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-people-fill"></i><strong>{% trans "Customer List" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- Show Order List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or "/orders" in request.path %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item">
                            <a {% if url_name == "order_list" %}{% else %}href="{% url 'order_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'order_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-basket-fill"></i><strong>{% trans "Order List" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}


                <!-- Show Item List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or "/items" in request.path %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item">
                            <a {% if url_name == "item_list" %}{% else %}href="{% url 'item_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'item_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-boxes"></i><strong>{% trans "Item List" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Item Listing" page or "Create An Item" page, show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "Create An Item" page itself-->
                {% if url_name == "item_list" or url_name == "item_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item">
                            <a {% if url_name == "item_create" %}{% else %}href="{% url 'item_create' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'item_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-boxes"></i><strong>{% trans "Create Item" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- Always at the bottom of the bar -->
                <hr>
                <!-- Show Profile List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or "/profiles" in request.path and request.path != "/profiles/user/" %}
                    {% if account_level > 1 %}
                        <li class="nav-item">
                            <a {% if url_name == "profile_list" %}{% else %}href="{% url 'profile_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'profile_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-building-fill"></i><strong>{% trans "Staff List" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a id="support-modal-link" href="#" data-bs-target="#id-renterprise-modal" data-bs-toggle="modal" onclick="loadDynamicModal('support-modal-data.xml');"
                    class="side-bar nav-link" aria-hidden="true">
                        <i class="nav-icon bi bi-tools"></i><strong>{% trans "Support" %}</strong>
                    </a>
                </li>
                <li class="nav-item sidebar-base-option">
                    <a href="{% url 'about' %}" target="_self" class="side-bar nav-link">
                        <i class="nav-icon bi bi-question-circle"></i><strong>{% trans "About" %}</strong>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endwith %}