{% load static %}
{% load i18n %}

{% block extra_css %}
    <link href="{% static "css/side-nav.css" %}" rel="stylesheet">
{% endblock extra_css %}

<!-- If on the home page (menu), there is no requirement for this.-->
<!-- THIS MAY BE USED. BUT AFTER THOUGHT, THE MAIN MENU CAN BE BETTER
     SERVED AS AN INFORMATION SOURCE -->
{% comment %} {% if request.path != '' and request.path != '/' %} {% endcomment %}

<!-- Uses the url to determine location and what to display 
     the resolver gets everything after the domain/host. eg. /admin, /profiles/user/ -->
{% with request.resolver_match.url_name as url_name %}
    <!-- *** Mobile first *** -->
    <!-- The nav bar is designed for desktop computers. It will display on
        the left hand side of the screen.
        If the screen is significantly smaller, the mobile first design is 
        where the side bar, becomes a collapsable top bar
        As the majority of the sidebar is inside a div called "rest-of-sidebar"

        Initial creation of this in Portfolio 4 by myself :
        https://github.com/jbillcliffe/django-renterprise/blob/main/templates/side-nav.html
    -->
    <!-- The element is only created if there are any messages
        in the MESSAGE_STORAGE -->
    <nav id="side-navigation-bar" class="nav flex-column">
        <ul>
            <li id="collapse-sidebar" class="nav-item" data-bs-toggle="collapse"
                data-bs-target="#rest-of-sidebar" aria-expanded="false" aria-controls="rest-of-sidebar">
                <span id="menu-text-holder">
                    <a id="side-menu-text" class="side-bar nav-link"><strong>{% trans "Menu" %}</strong>
                    </a><i class="bi bi-arrow-up-circle-fill"></i>
                </span>
            </li>
            <div id="rest-of-sidebar" class="nav nav-list collapse show">
                <!-- Always have home button at top of menu, unless on the menu screen -->
                {% if url_name != "menu" %}
                    <li class="nav-item">
                        <a href="{% url 'menu' %}" target="_self" class="side-bar nav-link">
                            <i class="nav-icon bi-house-up-fill"></i><strong>{% trans "Home" %}</strong>
                        </a>
                    </li>
                {% endif %}
                {% if url_name == "profile_view" or url_name == "profile_manage" %}
                    <li class="nav-item">
                        <a href="" class="side-bar nav-link active">
                            {% if url_name == "profile_view" %}
                                <i class="nav-icon bi bi-person-fill"></i><strong>{% trans "My Profile" %}</strong>
                            {% else %}
                                <i class="nav-icon bi bi-person-fill-gear"></i><strong>{% trans "Manage Profile" %}</strong>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}

                <!-- Show Profile List, if on the list page itself. Show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or "/profiles" in request.path and request.path != "/profiles/user/" %}
                    {% if request.user.profile.account_type > 1 %}
                        <li class="nav-item">
                            <a {% if url_name == "profile_list" %}{% else %}href="{% url 'profile_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'profile_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-people-fill"></i><strong>{% trans "Profile List" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

            </div>
        </ul>
    </nav>
{% endwith %}
