{% load static %}
{% load i18n %}

{% block extra_css %}
    <link href="{% static "css/side-nav.css" %}" rel="stylesheet">
{% endblock extra_css %}

<!-- Uses the url to determine location and what to display 
     the resolver gets everything after the domain/host. eg. /admin, /profiles/user/ -->
{% with url_name=request.resolver_match.url_name account_level=request.user.profile.account_type %}

    <!-- *** Mobile first *** -->
    <!-- The nav bar is designed for desktop computers. It will display on
        the left hand side of the screen.
        If the screen is significantly smaller, the mobile first design is 
        where the side bar, becomes a collapsable top bar
        As the majority of the sidebar is inside a div called "rest-of-sidebar"

        Initial creation of this in Portfolio 4 by myself :
        https://github.com/jbillcliffe/django-renterprise/blob/main/templates/side-nav.html
    -->
    <nav id="side-navigation-bar" class="nav flex-column">
        <a id="collapse-sidebar" class="side-bar nav-link" data-bs-toggle="collapse" data-bs-target="#rest-of-sidebar"
            role="button" aria-expanded="false" aria-controls="rest-of-sidebar">
                <i class="nav-icon bi bi-list"></i><strong>{% trans "Menu" %}</strong>
        </a>
        <div id="rest-of-sidebar" class="nav nav-list collapse">
            <ul>
                <!-- Always have home button at top of menu, "active" on the home screen -->
                    <li class="nav-item sidebar">
                        <a href="{% url 'menu' %}" target="_self" 
                        class="side-bar nav-link {% if url_name == "menu" %}active{% else %}{% endif %}">
                            <i class="nav-icon bi-house"></i><strong>{% trans "Home" %}</strong>
                        </a>
                    </li>

                <!-- CURRENT PAGE DISPLAY -->
                <!-- For displaying current page area and that page does not have a direct link.
                     This would be used where the url requires an argument (such as ../items/id/) -->
                {% if url_name in SIDE_NAV_DISPLAY_URLS %}
                    <li class="nav-item sidebar">
                        <a class="side-bar nav-link active">
                            {% if url_name == "profile_view" %}
                                <i class="nav-icon bi bi-person"></i><strong>{% trans "My Profile" %}</strong>
                            {% elif url_name == "profile_manage" %}
                                <i class="nav-icon bi bi-building-gear"></i><strong>{% trans "Manage Profile" %}</strong>
                            {% elif url_name == "customer_view" %}
                                <i class="nav-icon bi bi-person-up"></i><strong>{% trans "Customer View" %}</strong>
                            {% elif url_name == "order_view" %}
                                <i class="nav-icon bi bi-cart-check"></i><strong>{% trans "Order View" %}</strong>
                            {% elif url_name == "item_view" %}
                                <i class="nav-icon bi bi-database-up"></i><strong>{% trans "Item View" %}</strong>
                                {% elif url_name == "item_type_view" %}
                                <i class="nav-icon bi bi-database-fill-up"></i><strong>{% trans "Item View" %}</strong>
                            {% else %}
                            {% endif %}
                        </a>
                    </li>
                    
                {% endif %}
            <hr>
                <!--- CUSTOMERS -->
                <!-- Show Customer List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or url_name == "customer_list" or url_name == "customer_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "customer_list" %}{% else %}href="{% url 'customer_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'customer_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-people"></i><strong>{% trans "Customers" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Customer List" page or "Create Customer" page, show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "Create Customer" page itself-->
                {% if url_name == "customer_list" or url_name == "customer_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "customer_create" %}{% else %}href="{% url 'customer_create' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'customer_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-person-add"></i><strong>{% trans "New Customer" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Customer View" page, show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "Customer View" page itself-->
                {% if url_name == "customer_view" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "customer_order_create" %}{% else %}href="{% url 'customer_order_create' profile_id %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'customer_order_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-cart-plus"></i><strong>{% trans "Create Order" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Customer View" page, show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "Customer View" page itself-->
                {% if url_name == "customer_view" or url_name == "customer_order_list" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "customer_order_list" %}{% else %}href="{% url 'customer_order_list' profile_id %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'customer_order_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-cart-check-fill"></i><strong>{% trans "View Orders" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                <!-- When on the "Customer Order List" page, show this.
                It is a functional return button, so it does not need an active status -->
                {% if url_name == "customer_order_list" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a href="{% url 'customer_view' profile_id %}" target="_self"
                            class="side-bar nav-link">
                                <i class="nav-icon bi bi-person-up"></i><strong>{% trans "Back To Customer" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!--- ORDERS -->
                <!-- Show Order List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or url_name == "order_list" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "order_list" %}{% else %}href="{% url 'order_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'order_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-cart"></i><strong>{% trans "Orders" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Order List" page or "Create Order" page, show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "Create Order" page itself-->
                {% if url_name == "order_list" or url_name == "order_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "order_create" %}{% else %}href="{% url 'order_create' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'order_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-cart-plus"></i><strong>{% trans "New Order" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on "Order Create", but the customer version 
                There should be an option to cancel creating the order and returning to the customer view -->
                {% if url_name == "customer_order_create" or url_name == "order_create" %}
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "customer_order_create" %}
                            href="{% if url_name == "customer_order_create" %}{% url 'customer_view' profile_id %}{% else %}{% url 'order_list' %}{% endif %}" 
                            target="_self"{% else %}{% endif %}
                            class="side-bar nav-link close-cancel"> <!-- No active for this, it is purely a functional button. -->
                                <i class="nav-icon bi bi-cart-x"></i><strong>{% trans "Cancel Order" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                

                <!--- ITEMS -->
                <!-- Show Item List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or url_name == "item_list" or url_name == "item_view" or url_name == "item_create" or url_name == "item_type_list" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "item_list" %}{% else %}href="{% url 'item_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'item_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-database"></i><strong>{% trans "Items" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Item List","Item Type List" or "Item Create" show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "New Item" page itself-->
                {% if url_name == "item_list" or url_name == "item_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "item_create" %}{% else %}href="{% url 'item_create' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'item_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-database-add"></i><strong>{% trans "New Item" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- Show Type List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% comment %} {% if url_name == "menu" or "/items" in request.path and "/type" in request.path %} {% endcomment %}
                {% if url_name == "menu" or url_name == "item_list" or url_name == "item_type_list" or url_name == "item_type_view" or url_name == "item_type_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "item_type_list" %}{% else %}href="{% url 'item_type_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'item_type_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-database-fill"></i><strong>{% trans "Item Types" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                
                <!-- When on the "Item List","Item Type List" or "Item Create" show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "New Item" page itself-->
                {% if url_name == "item_type_list" or url_name == "item_type_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "item_type_create" %}{% else %}href="{% url 'item_type_create' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'item_type_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-database-fill-add"></i><strong>{% trans "New Item Type" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- STAFF -->
                <!-- Show Profile List, if on the list page itself then show it as active, by
                highlighting it with the active class and disabling it by not applying
                its href and target value -->
                {% if url_name == "menu" or "/profiles" in request.path and request.path != "/profiles/user/" and "/customers" not in request.path %}
                    {% if account_level > 1 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "profile_list" %}{% else %}href="{% url 'profile_list' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'profile_list' %}active{% endif %}">
                                <i class="nav-icon bi bi-building"></i><strong>{% trans "Staff " %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <!-- When on the "Staff Profile List" page or "Create Staff Profile" page, show this.
                Highlighting it with the active class and disabling it by not applying
                its href and target value when it is on the "Create Customer" page itself-->
                {% if url_name == "profile_list" or url_name == "profile_create" %}
                    <!-- 0 will always be Customer, so they cannot see this -->
                    {% if account_level > 0 %}
                        <li class="nav-item sidebar">
                            <a {% if url_name == "profile_create" %}{% else %}href="{% url 'profile_create' %}" target="_self"{% endif %}
                            class="side-bar nav-link {% if url_name == 'profile_create' %}active{% endif %}">
                                <i class="nav-icon bi bi-building-add"></i><strong>{% trans "New Staff Profile" %}</strong>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

                <!-- Always at the bottom of the bar -->
                <hr>
                <!--- SUPPORT -->
                <li class="nav-item sidebar">
                    <a id="support-modal-link" href="#" data-bs-target="#id-renterprise-modal" data-bs-toggle="modal" onclick="loadDynamicModal('support-modal-data.xml');"
                    class="side-bar nav-link" aria-hidden="true">
                        <i class="nav-icon bi bi-tools"></i><strong>{% trans "Support" %}</strong>
                    </a>
                </li>
                <!--- ABOUT -->
                <li class="nav-item sidebar">
                    <a href="{% url 'about' %}" target="_self" class="side-bar nav-link">
                        <i class="nav-icon bi bi-question-circle"></i><strong>{% trans "About" %}</strong>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endwith %}