{% load static %}
{% load i18n %}
<!-- Support Modal window : https://getbootstrap.com/docs/5.3/components/modal/#optional-sizes-->

{% comment %} /<div class="modal fade" id="support-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog"> {% endcomment %}
    
<div class="modal-header">
    <h5 id="support-modal-title" class="modal-title">Get Support</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <span>If you are having issues with your software please contact us!</span>

    <span>Email Us: <a href="mailto:{{ HELP_EMAIL }}">{{ HELP_EMAIL }}</a></span>
    <span>Call Us: <a href="tel:{{ COMPANY_PHONE }}">{{ COMPANY_PHONE }}</a></span>

    <span>If you would rather see us face to face :</span>
    <span>We are right here!</span>
    {% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78656.03446806408!2d-2.244156582553823!3d51.970405175395655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870e1bda52abb99%3A0xcd0491511441529!2sTewkesbury!5e0!3m2!1sen!2suk!4v1689385223534!5m2!1sen!2suk" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Company Map">
    </iframe> {% endcomment %}
    <span>{{ COMPANY_ADDRESS.line_1 }},</span>
    <span>{{ COMPANY_ADDRESS.line_2 }},</span>
    <span>{{ COMPANY_ADDRESS.line_3 }},</span>
    <span>{{ COMPANY_ADDRESS.town }},</span>
    <span>{{ COMPANY_ADDRESS.county }},</span>
    <span>{{ COMPANY_ADDRESS.postcode }},</span>
    <span>{{ COMPANY_ADDRESS.country }},</span>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button>
</div>
    {% comment %} </div>
</div> {% endcomment %}