{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_title %}{% blocktrans %}About Renterprise{% endblocktrans %}{% endblock extra_title %}

{% block extra_css %}
{% endblock extra_css %}

<!-- div app container holds this -->
<!-- Text taken from portfolio 1, it still seems appropriate -->
{% block content %}
<main id="about-main" class="app-container">
    <hr>
        <h1>About <span class="renterprise-green-text">RENTERPRISE</span></h1>
    <hr>
    <section class="row about-renterprise">
        <!-- span per paragraph makes it clean when resizing the page, strong for company name for 
        emphasis -->
        <span>
            Initially designed as bespoke solution for a family business specialising in provision of
            many different types of mobility equipment. <span class="renterprise-green-text"><strong>RENTERPRISE</strong></span> was initially unnamed
            and highly specific.
        </span>
        <span>
            Now <span class="renterprise-green-text"><strong>RENTERPRISE</strong></span> has evolved into a universal web based application. No longer
            bound by the criteria of its predecessor and designed with the freedom to work with any product
            or even service of your choosing.
        </span>
        <span>
            Initally designed by one person (James Billcliffe), <span class="renterprise-green-text"><strong>RENTERPRISE</strong></span> was able to run
            a national company, managing deliveries, assets, orders, customer relations and a tailor made
            PCI DSS payments system including automated payments for weekly, bi-weekly, four-weekly and
            monthly rentals.
        </span>
        <span>
            By the end of the life cycle of the first application, James became aware that being self taught
            entirely had left some design and development practices which became too hard to work with and
            to fix.
        </span>
        <span>
            It was from this, that <span class="renterprise-green-text"><strong>RENTERPRISE</strong></span> was born. The idea of software which was
            scalable, flexible and reliable. But with the ability to be managed by individuals who may not
            have the same level of computer accumen.
        </span>
    </section>
</main>

{% endblock content %}
