{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block extra_title %}{% blocktrans %}Accounts | Confirm Email Address{% endblocktrans %}{% endblock extra_title %}

{% block inner_content %}

    <hr>
        <h1>{% trans "Confirm Email Address" %}</h1>
    <hr>

    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% blocktrans with confirmation.email_address.email as email %}
                Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is the email address for user {{ user_display }}.
            {% endblocktrans %}
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="white-text">{% trans "Confirm Email Address" %}</button>
            </form>
        {% else %}
            <p>{% blocktrans with confirmation.email_address.email as email%}
                Unable to confirm {{ email }} because it is already confirmed by a different account.
                {% endblocktrans %}</p>
        {% endif %}
    {% else %}
            <p>{% blocktrans %}This email confirmation link expired or is invalid. Please{% endblocktrans %}
                <a href="{% url 'account_email' %}">{% trans "issue a new email confirmation request." %}</a>
            </p>
    {% endif %}

{% endblock inner_content %}