{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block extra_title %}{% blocktrans %}Accounts | Reset Password{% endblocktrans %}{% endblock extra_title %}

{% block inner_content %}
    <!--No need to reset the password if the user is already logged in, as password must be known-->
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <hr>
        <h2 >{% trans "Reset Password" %}</h2>
    <hr>

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="not-submit no-decoration" href="{% url "menu" %}">{% trans "Return To Menu" %}</a> <!-- PROFILE -->
        <button type="submit" class="white-text">{% trans "Reset Password" %}</button>
    </form>

    <p>{% blocktrans %}Please <a href="mailto:{{ HELP_EMAIL }}">contact support</a> if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock inner_content %}
