{% extends "account/base_manage.html" %}
{% load i18n %}
{% load allauth %}
{% block extra_title %}{% blocktrans %}Accounts | Email Verification Required{% endblocktrans %}{% endblock extra_title %}
{% url 'account_email' as email_url %}

{% block inner_content %}

    <hr>
        <h2>{% trans "Email Verification Required" %}</h2>
    <hr>

    <p>{% blocktrans %}To access this part of the program, a verified email is required.{% endblocktrans %}</p>
    <p>{% blocktrans %}Check your inbox for a verification email and if necessary check your spam folder. 
        If you still cannot locate a verification email then <a href="mailto:{{ HELP_EMAIL }}">contact support</a>{% endblocktrans %}</p>
    
    <button type="button" class="white-text" onclick="location.href='{% url 'menu' %}'" value="Return To Menu">{% trans "Return To Menu" %}</button>

{% endblock inner_content %}
