{% load static %}
{% load i18n %}
{% load custom_filters %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Link for icon in bar next to title -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/renterprise-title-logo.png' %}" >

        <!-- Required meta tags -->
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="An innovative full CRM system for short term and long term asset rentals. 
                                      Enhancing customer experience. Managing and servicing inventory.
                                      Securely taking payments at point of order and automating future payments.
                                      Highly intuitive logistical management of delivery and collections and
                                      competitively priced for excellent investment opportunity">
            <meta name="keywords" content="rental software, rental CRM, global, secure payments, inventory management,
                                            customer management, rental solutions, hire software, hire solutions,
                                            hire CRM, hiring software, hiring solutions, hiring CRM">
        {% endblock meta %}

        {% block extra_meta %}
        {% endblock extra_meta %}

        <!-- Bootstrap CSS, Bootstrap Icons and Google Font Imports -->
        {% block corecss %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" >
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="{% static "css/base.css" %}" rel="stylesheet">
            <link href="{% static "css/base-buttons.css" %}" rel="stylesheet">
            <link href="{% static "css/renterprise-toast.css" %}" rel="stylesheet">
        {% endblock corecss %}

        {% block extra_css %}
        {% endblock extra_css %}

        <!-- Font Awesome, jQuery, Bootstrap 5 and Stripe-->
        {% block corejs %}
            <script src="https://kit.fontawesome.com/446693abe9.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock corejs %}

        <!-- Extra head scripts if required.-->
        {% block extra_js %}
        {% endblock extra_js %}
        
        <title>Renterprise | {% block extra_title %}{% endblock extra_title %}</title>
    </head>
    <body>
        <!-- this will stop a user clicking on areas outside of the "loading" overlay -->
        <div class="clear-overlay d-none"></div>
        <!-- Include the headers for the base template-->
        <header>
            {% include "includes/small-header.html" %}
            {% include "includes/main-header.html" %}
        </header>
        
        <!-- Creating an empty modal to use site wide, repopulating title, body and footer where neccessary
         As this is created on the base, the ids will present on all pages -->
        <div class="modal fade" id="id-renterprise-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="id-modal-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="id-modal-title"></h5> <!-- id-modal-title.innerText-->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="id-modal-body">
                        <!-- id-modal-body.innerText-->
                    </div>
                    <div class="modal-footer justify-content-center" id="id-modal-footer">
                        <!-- id-modal-footer.innerText-->
                    </div>
                </div>
            </div>
        </div>
        {% comment %} {% include "includes/support-modal.html" %} {% endcomment %}
        <!-- Facebook Modal is only included when on the main menu as the social media footer
         is not present within the program itself -->
        {% comment %} {% if request.path == "" or request.path == "/" %}{% include "includes/facebook-modal.html" %}{% endif %} {% endcomment %}
        
        <div class="program-holder">
            <!-- If there are any messages sent, and are in the MESSAGE_STORAGE-->
            {% if messages %}
                <div class="toast-container">
                    {% for message in messages %}
                        <div id="renterprise-toast" class="toast"
                            role="{% if message.tags != 'info' %}alert{% else %}status{% endif %}"
                            aria-live="{% if message.tags != 'info' %}assertive{% else %}polite{% endif %}"
                            aria-atomic="true">
                            <div class="toast-header bg-{{ message.tags }} bg-gradient">
                                {% if message.tags == "danger" %}
                                    <strong class="me-auto">ERROR!</strong>
                                {% else %}
                                    <strong class="me-auto">{{ message.tags|upper }}!</strong>
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                {% include "includes/side-nav.html" %}
            {% endif %}
            <div class="app-container">
                <!-- div app container holds this loading overlay designed to fit the "app" area-->
                <!-- d-none for now-->
                <div class="app-loading-overlay"></div>
                <!-- Content from each app page -->
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        {% if request.path == "" or request.path == "/" %}{% include "includes/footer.html" %}{% endif %}
        <!-- *** Javascript from each app page *** -->
        <!-- As toast is included on the base.html, it will always be included in account_type
        block.super statement as it always takes the parent content and adds to it. -->
        {% block postloadjs %}
            <script type="text/javascript">
                // Showing elements with a class of toast.
                // https://getbootstrap.com/docs/5.2/components/toasts/#custom-content
                const toastId = document.getElementById('renterprise-toast')
                if (toastId) {
                    const toastElement = new bootstrap.Toast(toastId)
                    toastElement.show()
                }
            </script>
            <script src="{% static 'js/dynamicModal.js' %}"></script>
            <script src="{% static 'js/dynamicCollapse.js' %}"></script>
            <script src="{% static 'js/numericalCalculations.js' %}"></script>
        {% endblock postloadjs %}
    </body>
</html>