{% load static %}
{% load i18n %}
<div id="large-carousel" data-interval="false" class="d-none d-md-flex justify-content-center carousel slide mx-0 px-0 mb-3 order-1 order-md-4">
    <div class="carousel-inner {% if user.is_authenticated %}mx-0{% else %}mx-auto{% endif %} order-2">
        <div class="carousel-item active">
            <div class="card-group d-flex justify-content-center">
                <div class="card renterprise-card">
                    <img src="{% static 'images/index/make-opportunities.webp' %}" class="card-img-top img-fluid" alt="A man looking through a spyglass for opportunities">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>New Opportunities</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Want to create a new opportunity?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise can enable you to take it! Starting a new business from within!</p>
                    </div>
                </div>
                <div class="card renterprise-card">
                    <img src="{% static 'images/index/monetise-assets.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a pile of paper money and coins">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Monetise Inactive Assets</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Assets taking up storage space?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise can generate revenue from old assets and free space for new stock!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-group d-flex justify-content-center">
                <div class="card renterprise-card">
                    <img src="{% static 'images/index/streamline-processes.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a man pointing along a progress tree, allowing the bottlenecked process to pass">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Streamline Processes</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Struggling with your an old system?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise can invigorate your processes. Finding the next gear to accelerate your business!</p>
                    </div>
                </div>
                <div class="card renterprise-card">
                    <img src="{% static 'images/index/customer-relationship-management.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a man pointing along a progress tree, allowing the bottlenecked process to pass">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Customer Management</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Unable to always help customers?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise has enough features to keep on track, and therefore, in favour with your customers!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-group d-flex justify-content-center">
                <div class="card renterprise-card">
                    <img src="{% static 'images/index/manage-inventory.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a man pointing along a progress tree, allowing the bottlenecked process to pass">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Stock/Asset Control</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Can't fulfil an order?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise has total stock and asset control, missing an order will be far more challenging!</p>
                    </div>
                </div>

                <div class="card renterprise-card">
                    <img src="{% static 'images/index/take-payments.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a man pointing along a progress tree, allowing the bottlenecked process to pass">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Secure Payments</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Lack payment security?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise uses a PCI DSS compliant payment system. Give the customers confidence in your company!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-group d-flex justify-content-center">
                <div class="card renterprise-card">
                    <img src="{% static 'images/index/stimulate-business-growth.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a man pointing along a progress tree, allowing the bottlenecked process to pass">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Business Growth</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Stagnating business?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise is efficient, allowing you to complete those longer processes much faster!</p>
                    </div>
                </div>

                <div class="card renterprise-card">
                    <img src="{% static 'images/index/comprehensive-reporting.webp' %}" class="card-img-top img-fluid" alt="A cartoon styled image of a man pointing along a progress tree, allowing the bottlenecked process to pass">
                    <h5 class="card-title white-text text-center w-100 mx-0 px-1 mt-2 mb-3"><strong>Comprehsive Reporting</strong></h5>
                    <h6 class="card-subtitle white-text w-100 px-1 mx-0 mt-1 mb-3 text-center">Can't find information when you need it?</h6>
                    <div class="card-body">
                        <p class="card-text white-text text-center mt-0">Renterprise has reports tailored to your requirements. Or even created as a bespoke package!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev order-1" type="button" data-bs-target="#large-carousel" data-bs-slide="prev" onclick="this.blur()">
        <span class="carousel-control-prev-icon rounded" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next order-3" type="button" data-bs-target="#large-carousel" data-bs-slide="next" onclick="this.blur()">
        <span class="carousel-control-next-icon rounded" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>