{% load static %}
{% load i18n %}
<div class="row input-group m-0 p-0">
    <button class="col-2 btn default-button-view-only rounded-0 rounded-start mb-3 p-0" id="view-only-type-edit" type="button" disabled>
        Current
    </button>
    <div id="div_id_edit-type-image" class="form-floating mb-3 p-0">
        <input type="text" name="image-input-name" value="{{ image_sent_url }}" maxlength=50 class="rounded-0 textinput form-control" 
            placeholder="Image" required="" id="image-input-id">
        <label for="image-input-id">
            Image File</label>
    </div>
    <input id="edit-type-image-select" type="file" 
        name="edit-image-button" class="d-none">
    <label for="edit-type-image-select" class="col-2 d-flex default-button justify-content-center align-items-center rounded-end mb-3 p-0">
        Change
    </label>
</div>
